*{
    font-family: sans-serif;
}

/* <!-- This the 1st part of the main part : Increase Your Recruiter Reach By 10x part --> */
.recruiterReach{
    /* border:1px solid red; */
    width:80%;
    margin: 40px auto auto auto;
}
.recruiterReach>h1{
    text-align: center;
    margin-bottom: 40px;
}
.recruiterReach .container{
    /* border:1px solid blue; */
    width:100%;
    display: flex;
    justify-content: space-between;
}
.recruiterReach .card{
    /* border:1px solid black; */
    width:30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.recruiterReach .card>img{
    width:100%;
}
.recruiterReach .card>div{
    padding:20px;
}
.recruiterReach .card>div>h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.recruiterReach .card>div>p{
    font-size: 15px;
    color:rgb(104, 104, 104);
    line-height: 22px;
    margin-bottom: 15px;
}
.recruiterReach .card>div>h4{
    font-size: 18px;
    margin-bottom: 30px;
}
.recruiterReach .buttons{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
}
.recruiterReach .buttons>button:nth-child(1){
    border: none;
    color: rgb(139, 70, 250);
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
.recruiterReach .buttons>button:nth-child(1):hover{
    font-size: 15px;
}
.recruiterReach .buttons>button:nth-child(2){
    border:none;
    background-color: rgb(139, 70, 250);
    color: white;
    border-radius: 2px;
    padding: 5px 15px;
    font-weight: bold;
}

/* <!-- This is the 2nd part of the main part : Are Recruiters Impressed By Your Resume? part --> */
.recruiterImpressed{
    /* border:1px solid red; */
    width:80%;
    margin: 80px auto 60px auto;
    display: flex;
    justify-content: space-around;
}
.recruiterImpressed .child{
    /* border: 1px solid blue; */
}
.recruiterImpressed>div:nth-child(1){
    width:40%;
}
.recruiterImpressed>div:nth-child(1)>img{
    width:100%;
}
.recruiterImpressed>div:nth-child(2){
    padding: 30px 60px;
}
.recruiterImpressed>div:nth-child(2)>h1{
    margin-bottom: 20px;
}
.recruiterImpressed>div:nth-child(2)>p{
    font-size: 22px;
    margin-bottom: 20px;
}
.recruiterImpressed>div:nth-child(2)>p>span{
    font-weight: bold;
}
.recruiterImpressed>div:nth-child(2)>button{
    border:none;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: orange;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/* <!-- This is 3rd part of the main part : Career Guides part. --> */
.careerGuides{
    /* border:1px solid red; */
    margin-top: 60px;
    background-color: rgb(238, 238, 238);
    padding-top: 40px;
    padding-bottom: 40px;
}
.careerGuides>h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.careerGuides .container{
    /* border:1px solid blue; */
    display: grid;
    width:80%;
    margin:auto auto 40px auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,250px);
    gap:30px;
}
.careerGuides .container .card{
    /* border: 1px solid black; */
    padding:30px;
    background-color: white;
}
.careerGuides .card>img{
    width:15%;
    margin-bottom: 20px;
}
.careerGuides .container>div:nth-child(1)>img ,.container>div:nth-child(4)>img{
    width:10%;
    margin-bottom: 50px;
}
.careerGuides .card h3{
    margin-bottom: 20px;
}
.careerGuides .card>p{
    margin-bottom: 20px;
    color: rgb(95, 94, 94);
}
.careerGuides .card>div{
    display: flex;
}
.careerGuides .card>div>p{
    font-size: 12px;
    font-weight: bold;
    color: rgb(133, 131, 131);
    margin-right: 20px;
}
.careerGuides .card>div>button{
    margin-left: 70px;
    border:none;
    background-color: white;
    color: blueviolet;
    font-size: 14px;
    font-weight: bold;
}

/* <!-- This is the 5th part of the main part :  Feeling Lost? part. --> */
.feelingLost{
    /* border:1px solid red; */
    width:80%;
    /* height:200px; */
    margin:60px auto auto auto;
}
.feelingLost>h1{
    text-align: center;
    margin-bottom: 10px;
}
.feelingLost>p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.feelingLost .container{
    /* border:1px solid blue;   */
    display: flex;
    justify-content: space-between;
}
.feelingLost .card1{
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    padding:0px 20px;
    width:40%;
    border:0.5px solid rgb(153, 153, 153);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.feelingLost .card1>img{
    width:100px;
    padding:30px;
}
.feelingLost .card1>div{
    /* border:1px solid orange; */
    margin-left: 30px;
    width: 50%;
}
.feelingLost .card1>div>h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.feelingLost .card1>div>button{
    border: none;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
}
.feelingLost .card2{
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    padding: 20px 30px;
    width:40%;
    border:0.5px solid rgb(153, 153, 153);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.feelingLost .card2>img{
    height:40%;
}
.feelingLost .card2>div{
    width:60%;
    margin-left: 60px;
}
.feelingLost .card2>div>h3{
    font-size: 20px;
    margin-bottom: 30px;
}
.feelingLost form>input{
    margin-bottom: 20px;
    padding: 10px 10px;
}
.feelingLost form>input:nth-child(3){
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

/* <!-- This is the 6th part of the main part : Success Stories part.  --> */
.successStory{
    /* border:1px solid red; */
    width:80%;
    margin: 60px auto 80px auto;
}
.successStory>h1{
    text-align: center;
    margin-bottom: 40px;
}
.successStory .container{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.successStory .container .card{
    /* border:1px solid black; */
    width:25%;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.successStory .container .card>div{
    /* border:1px solid orange; */
    height:70px;
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}
.successStory .card>p{
    line-height: 20px;
    font-size: 14px;
    color:rgb(129, 129, 129);
    margin-bottom: 30px;
}
.successStory .card>h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.successStory .card>h3+p{
    font-size: 20px;
    color: rgb(70, 70, 70);
}